{% extends "layout.html" %}

{% block head %}

    <title>Sobre - Victor Raony</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

{% endblock %}

{% block content %}

    <div id="wrapper">   
        <img src="https://avatars.githubusercontent.com/u/67339446?s=460&u=32ba747f1f1bbd7a7a0fd761c1c2cb1453c11e07&v=4" alt="Victor Raony">
        <h1>Victor Raony</h1>
        <h2>Analista de Sistemas</h2>
        <p>Estudando programação com a <a href="https://rocketseat.com.br" target="_blank">Rocketseat</a>, focado em HTML, CSS, JAVASCRIPT, REACT, REACT NATIVE, TYPESCRIPT, NODE.JS</p>
    </div>

    <div id="links-footer" class="links">
        <a href="https://github.com/Victor-Raony" target="_blank">Github</a>
        <a href="/">Twitter</a>
        <a href="https://www.linkedin.com/in/victor-raony-10a385132" target="_blank">Linkdin</a>
    </div>

{% endblock %}